<div>
  <h5>Events</h5>
  <div class="d-flex justify-content-between mb-2">
    <div></div>

    <button nz-button nzType="primary" (click)="addEvent()">Add Event</button>
  </div>

  <nz-table
    #nzTable
    [nzData]="events"
    nzTableLayout="fixed"
    [nzBordered]="true"
    [nzTableLayout]="'fixed'"
    [nzShowPagination]="false"
    ngSkipHydration
    [nzScroll]="{ y: 'calc(100vh - 270px)' }"
  >
    <thead>
      <tr>
        <th>Event Title</th>
        <th>Event Date</th>
        <th>Venue</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of nzTable.data">
        <td>{{ event.title }}</td>
        <td>{{ event.eventDate | date }}</td>
        <td>{{ event.venue }}</td>
        <td>{{ event.description }}</td>
        <td class="text-center">
          <div>
            <!-- Edit Button with Icon -->
            <a
              (click)="updateEvent(event)"
              class="m-2 text-secondary"
              nz-tooltip="Edit"
            >
              <em class="las la-pen-square la-lg"></em>
              <!-- Edit Icon -->
            </a>

            <!-- Delete Button with Icon -->
            <a
              (click)="deleteEvent(event.id)"
              class="m-2 text-danger"
              nz-tooltip="Delete"
            >
              <em class="las la-trash-alt la-lg"></em>
              <!-- Delete Icon -->
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
