<div mat-dialog-title class="d-flex justify-content-between">
  <div>
    <p class="mb-0 mt-1 ps-2 dialog-title">{{ title }}</p>
  </div>
  <div class="justify-content-end">
    <button [mat-dialog-close]="true" mat-icon-button>
      <mat-icon class="dialog-icon">close</mat-icon>
    </button>
  </div>
</div>
<hr />
<form [formGroup]="staffForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <!-- Employee Number -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Employee No</nz-form-label>
          <nz-form-control nzErrorTip="Employee No is required!">
            <input
              nz-input
              formControlName="empNo"
              placeholder="Enter Employee Number"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- First Name -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>First Name</nz-form-label>
          <nz-form-control nzErrorTip="First Name is required!">
            <input
              nz-input
              formControlName="firstName"
              placeholder="Enter First Name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Last Name -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Last Name</nz-form-label>
          <nz-form-control nzErrorTip="Last Name is required!">
            <input
              nz-input
              formControlName="lastName"
              placeholder="Enter Last Name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Gender -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Gender</nz-form-label>
          <nz-form-control nzErrorTip="Gender is required!" class="w-100">
            <nz-select
              formControlName="gender"
              nzPlaceHolder="Select Gender"
            >
              <nz-option [nzValue]=0 nzLabel="Male"></nz-option>
              <nz-option [nzValue]=1 nzLabel="Female"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Email -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Email</nz-form-label>
          <nz-form-control nzErrorTip="Invalid email!">
            <input
              nz-input
              formControlName="email"
              placeholder="Enter Email"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Phone Number -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Phone Number</nz-form-label>
          <nz-form-control nzErrorTip="Invalid phone number!">
            <input
              nz-input
              formControlName="phoneNumber"
              placeholder="Enter Phone Number"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- NIC -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>NIC</nz-form-label>
          <nz-form-control nzErrorTip="Invalid NIC!">
            <input
              nz-input
              formControlName="nic"
              placeholder="Enter NIC"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Address -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Address</nz-form-label>
          <nz-form-control nzErrorTip="Address is required!">
            <textarea
              nz-input
              formControlName="address"
              placeholder="Enter Address"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Date Joined -->
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Date Joined</nz-form-label>
          <nz-form-control nzErrorTip="Date of Joining is required!">
            <nz-date-picker
              class="w-100"
              formControlName="dateJoined"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3 mb-4 me-4">
    <button
      class="small-btn-width btn-radius me-2"
      [mat-dialog-close]="true"
      nzType="primary"
      nzGhost
      nz-button
    >
      Cancel
    </button>
    <button
      class="btn-radius small-btn-width"
      nzType="primary"
      nz-button
    >
      {{ btnTitle }}
    </button>
  </div>
</form>
